<div class="qwe">
<accordion isAnimated="true" class="mt-4 font-weight-bold">
  <accordion-group [heading]='projectViewModel.projectCode + "/"+ projectViewModel.projectName' class="font-weight-bold"  isAnimated="true" panelClass="customClass">
    <div class="container fontRaleway text-justify">
      <div class="row text-justify">
        <div class="col">
          <div class="row text-justify  mb-3 mr-4">
            <div class="col">
              <span><h3>Project name:</h3></span><span><span *ngIf="!editMode">{{projectViewModel.projectName}}</span></span>
              <input type="text" class="form-control" *ngIf="editMode" [(ngModel)]="projectViewModel.projectName">
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span><h3>Project code:</h3></span><span><span >{{projectViewModel.projectCode}}</span></span>
<!--              <input type="text" class="form-control" *ngIf="editMode" [(ngModel)]="project.projectCode">-->
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span><h3>Date of completion:</h3></span><span><span *ngIf="!editMode">{{projectViewModel.dateCompletion | date}}</span></span>
              <input type="date"  class="form-control" *ngIf="editMode" [(ngModel)]="projectViewModel.dateCompletion">
            </div>
          </div>

        </div>
        <!--        TWO COL-->
        <div class="col">
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span><h3>Readiness degree:</h3></span><span>{{projectViewModel.readinessDegree}}%</span>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span><h3>Project creator:</h3></span><span><span >
              <a [routerLink]="['/account/',projectViewModel.projectCreator]">{{projectViewModel.projectCreatorName}} {{projectViewModel.projectCreatorSurname}}
              </a></span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-justify mb-3 mr-4">
        <div class="col">
          <span><h3>Description of project:</h3></span>
          <span><span *ngIf="!editMode">{{projectViewModel.description}}</span></span>
          <textarea type="text" class="form-control" *ngIf="editMode" [(ngModel)]="projectViewModel.description"></textarea>
        </div>
      </div>
      <button class="btn btn-primary " (click)="edit()">{{editMode ? "Save" : "Edit project"}}</button>
      <button class="btn btn-primary">Delete project</button>
    </div>
  </accordion-group>
</accordion>
</div>
<div class="mt-5 text-justify">
  <h1 class="text-center">Tasks</h1>
  <table class="table table-hover table-dark ">
    <thead>
    <tr>
      <th scope="col" class="text-center">Task code</th>
      <th scope="col" class="waves-button" >Task name</th>
      <th scope="col" class="waves-button" (click)="sortByPriority()">Priority</th>
      <th scope="col" class="waves-button" >Status</th>
      <th scope="col" class="waves-button" >Date of creation</th>
      <th scope="col" class="waves-button" >Due date</th>
    </tr>
    </thead>
    <tbody *ngIf="tasks?.length>0; then table else void_table;">
    </tbody>
    <ng-template #table>
      <tr *ngFor="let task of tasks" class="text-center">
        <td>{{task.taskCode}}</td>
        <td>{{task.taskName}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.status}}</td>
        <td>{{task.dateOfCreation | date}}</td>
        <td>{{task.dueDate | date}}</td>
        <td><button class="btn btn-primary" [routerLink]="['/task/',task.idTask]" >More</button></td>
      </tr>
    </ng-template>
    <ng-template #void_table>
      <tr>
        <td colspan="6">No tasks have been created for this project.</td>
      </tr>
    </ng-template>
  </table>
</div>



