<div class="backgr border-dark">
  <div class="container fontRaleway text-justify border-dark border-right border-left">
    <div *ngIf="!editMode;then no_edit;else edit_templ"></div>
    <ng-template #no_edit>
      <div class="row text-justify border-bottom border-dark h4">
        <div class="col mt-5">
          <div class="row text-justify  mb-3 mr-4">
            <div class="col">
              <span class="h2">Task name:</span>
              <h2>{{taskViewModel.taskName}}</h2>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Task code:</span><h2>{{taskViewModel.taskCode}}</h2>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Due date:</span><h2>{{taskViewModel.dueDate | date}}</h2>
            </div>
          </div>
          <div class="row text-justify  mb-3 mr-4">
            <div class="col">
              <span class="h2">Date of creation:</span><h2>{{taskViewModel.dateOfCreation | date}}</h2>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Update:</span><h2>{{taskViewModel.updated | date}}</h2>
            </div>
          </div>
        </div>
        <!--        TWO COL-->
        <div class="col mt-5">
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Priority:</span><h2>{{taskViewModel.priority}}</h2>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Status:</span><h2>{{taskViewModel.status}}</h2>
            </div>
          </div>

          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Task performer:</span>
              <h2>
                <a *ngIf="taskViewModel?.executorId!=null" [routerLink]="['/account',taskViewModel.executorId]">
              {{taskViewModel.executorName}} {{taskViewModel.executorSurname}}</a>
                <span *ngIf="taskViewModel?.executorId==null">No executor</span>
              </h2>
            </div>
          </div>
          <div class="row text-justify mb-3 mr-4">
            <div class="col">
              <span class="h2">Task creator:</span><h2><a [routerLink]="['/account',taskViewModel.taskCreatorId]">
              {{taskViewModel.taskCreatorName}} {{taskViewModel.taskCreatorSurname}}</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-justify mt-3 mr-4 mb-5 h4 ">
        <div class="col">
          <span class="h2">Description of task:</span><h3>{{taskViewModel.description}}</h3>
        </div>
      </div>
      <form class="mt-5 mb-5">
        <button class="btn btn-primary" *ngIf="!userService.isAdmin()"
                (click)="edit()">{{editMode ? "Save" : "Edit task"}}</button>
        <button class="btn btn-primary" *ngIf="userService.isPM()" (click)="deleteTask()">Delete task</button>
      </form>
    </ng-template>

    <ng-template #edit_templ>
          <div class="row text-justify border-bottom border-dark h4">
            <div class="col mt-5">
              <div class="row text-justify  mb-3 mr-4">
                <div class="col">
                  <span class="h2">Task name:</span>
                  <input type="text" class="form-control"
                         #taskName="ngModel"
                         required pattern="[a-zA-Z- ]{2,20}"
                         [(ngModel)]="taskViewModel.taskName">
                  <div [hidden]="taskName.valid || taskName.untouched" class="alert alert-danger">
                    Task name is incorrect
                  </div>
                </div>
              </div>
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span class="h2">Task code:</span><h2>{{taskViewModel.taskCode}}</h2>
                </div>
              </div>
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span class="h2">Due date:</span>
                  <input type="date" class="form-control" [(ngModel)]="taskViewModel.dueDate">
                </div>
              </div>
              <div class="row text-justify  mb-3 mr-4">
                <div class="col">
                  <span class="h2">Date of creation:</span><h2>{{taskViewModel.dateOfCreation | date}}</h2>
                </div>
              </div>
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span class="h2">Update:</span><h2>{{taskViewModel.updated | date}}</h2>
                </div>
              </div>
            </div>
            <!--        TWO COL-->
            <div class="col mt-5">
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span class="h2">Priority:</span>
                  <select class="form-control" (change)="setPriority($event.target.value)">
                    <option
                      *ngFor="let priorityOfAvailable of availablePriorities"
                      [selected]="priorityOfAvailable === taskViewModel.priority"
                      value="{{priorityOfAvailable}}">{{priorityOfAvailable}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span class="h2">Status:</span>
                  <select class="form-control"  (change)="setStatus($event.target.value)">
                    <option
                      *ngFor="let statusOfAvailable of availableStatuses"
                      [selected]="statusOfAvailable === taskViewModel.status"
                      value="{{statusOfAvailable}}">{{statusOfAvailable}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span><h2>Task performer:</h2></span>
                  <select class="form-control" id="executor" name="execut"
                          (change)="onChangeExecutor($event)"
                          [(ngModel)]="taskViewModel.executorId">
                    <option *ngFor="let executor of taskViewModel.executors"
                            [value]="executor.idUser">{{executor.name}} {{executor.surname}}</option>
                  </select>
                </div>
              </div>
              <div class="row text-justify mb-3 mr-4">
                <div class="col">
                  <span>Task creator:</span><h2><a [routerLink]="['/account',taskViewModel.taskCreatorId]">
                    {{taskViewModel.taskCreatorName}} {{taskViewModel.taskCreatorSurname}}</a></h2>
                </div>
              </div>
            </div>
          </div>
      <div class="row  mt-3 mr-4 mb-5">
        <div class="col">
          <h2>Description of task:</h2>
          <textarea [(ngModel)]="taskViewModel.description"></textarea>
        </div>
      </div>
      <form class="mt-5 mb-5">
        <button class="btn btn-primary" *ngIf="!userService.isAdmin()"
                [disabled]="taskName.invalid"
                (click)="edit()">{{editMode ? "Save" : "Edit task"}}</button>
        <button class="btn btn-primary" *ngIf="userService.isPM()" (click)="deleteTask()">Delete task</button>
      </form>
    </ng-template>

    <div class="mt-5 mb-5">
      <h2>Comments:</h2>
      <div *ngIf="comments?.length>0;then show_comments else no_comments">
      </div>
      <ng-template #show_comments>
        <div *ngFor="let comm of comments" class="backgrcomment rounded m-1 p-1">
            <span><a><h4 class="nameSurnameComment"
                         [routerLink]="['/account',comm.idUser]">{{comm.surname}} {{comm.name}}</h4></a>
              <span class="dateOfCreationComment h5">
                   {{comm.dateOfCreation | date:'dd.MMM.yy  HH:m'}}
              </span>
            </span>
          <div>
            <h5 class="font-italic">
              {{comm.comment}}
            </h5>
          </div>
        </div>
        <button class="btn-outline-primary btn-block my-3" *ngIf="comments?.length>=startCommentsSize" (click)="showMoreComments()">Show more <i
          class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
      </ng-template>
      <ng-template #no_comments>
        <h4 class="my-3">No comments</h4>
      </ng-template>

      <div class="mb-5">
        <form>
          <div class="form-group">
            <textarea class="form-control " rows="3" placeholder="Enter your comment" [(ngModel)]="comment.comment"
                      [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <button class="btn btn-primary " (click)="saveComment()">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>


