html,
body{
  background-color: #ddc3a5;
}

a.navbar-brand {
  font-family: "Raleway";
}

label,
h5.modalTitel {
    font-weight: bold;
}

.fontRaleway {
    font-family: "Raleway";
}

div.modal-header {
    font-family: "Lato";
}

.modal {
  height: 60%;
}
.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.p-0{
  padding: 0;
  margin: 0;
}
